/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dashboard-header {
    background-color: #fff;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}
.dashboard-header .data-hora {
    margin-top: 5px;
    font-size: 16px;
    color: #666;
    margin-bottom: 40px;
}



.main-container {
    display: flex;
    flex: 1;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #363a43;
    color: #fff;
    padding-top: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar li:hover, .sidebar li.active {
    background-color: #2c3038;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

/* Conteúdo principal da dashboard */
.dashboard-content {
    flex: 1;
    padding: 20px;
    display: none;
    flex-wrap: wrap;
    gap: 20px;
    /* Inicialmente oculto */
    display: none;
}

/* Cards de informação */
.info-geral, .oee-section, .kpi-section {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%; /*Alteração da largura da página. É Flex, mas fica em 80% */
}

.info-card, .oee-card, .kpi-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    flex: 1;
    min-width: 150px;
    text-align: center;
}

.info-card .label, .oee-card .label, .kpi-card .label {
    display: block;
    font-size: 12px;
    color: #888;
}

.info-card .value, .oee-card .value, .kpi-card .value {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.status-producao .value {
    color: green;
}

/* Botões de ação da dashboard */
.action-buttons-dashboard {
    display: none; /* Oculto por padrão */
    flex-direction: row;
    gap: 10px;
    position: absolute;
    right: 20px;
    top: 60px;
}

/* Botões de ação do modal */
.action-buttons-modal {
    display: flex; /* Visível por padrão */
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: 20px;
    top: 60px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
}

.btn-primary { background-color: #007bff; }
.btn-secondary { background-color: #6c757d; }
.btn-danger { background-color: #dc3545; }


/* Estilos para o modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* Visível por padrão */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
}

.modal-title {
    margin-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group.full-width {
    flex: 100%;
}

.form-group label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.form-group .input-error {
    border: 3px solid #E74C3C !important;
}

.form-group .input-sucess {
    border: 3px solid #2ECC71 !important;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
    border-top: 1px solid #eee;
    padding-top: 15px;
}

.logo {
    display: flex;
    flex-direction: column; /* Alinha a imagem e o texto verticalmente */;
    align-items: center; /* Alinha verticalmente os itens no centro */
    gap: 20px; /* Adiciona um espaço de 10px entre a imagem e o texto */
}

.logo-cin-header {
    height: 50px; /* Ajuste a altura conforme necessário */
    width: auto; /* Mantém a proporção da imagem */
   
}

.logo-text {
    font-size: 20px; /* Ajuste o tamanho da fonte */
    font-weight: bold;
    color: #333; /* Cor do texto */
}



@media (max-width: 768px) {
    /* Esconder a barra lateral e transformá-la em um menu de hambúrguer */
    .sidebar {
        display: none;
    }

    /* Fazer os botões de ação ocuparem a largura total */
    .action-buttons-dashboard, .action-buttons-modal {
        position: static; /* Remove a posição fixa para fluir com o conteúdo */
        width: 100%;
        padding: 10px;
    }

    /* Ajustar o tamanho da fonte e espaçamento dos cards */
    .info-card, .oee-card {
        min-width: 100%; /* Faz cada card ocupar toda a largura */
    }

    /* Ajustar o modal para ocupar mais espaço na tela */
    .modal-content {
        width: 95%;
    }
}